.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .abs-center2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    width: 450px;
  }